/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 10px auto;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px 20px;
  margin: 0 15px;
}

/* Hero */

.hero {
  background: linear-gradient(
    176deg,
    rgba(24, 17, 145, 1) 5%,
    rgba(77, 133, 108, 1) 100%,
    rgba(26, 115, 62, 1) 100%,
    rgba(237, 221, 83, 1) 100%
  );
  height: 75vh;
  padding: 20px 30px;
  color: #fff;
}

.hero .logo {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Content */

.content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.content h1 {
  font-size: 3rem;
  line-height: 1.3;
  color: #03fcd4;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.7;
}
